In [6]:
#reading a csv file
import pandas as pd

In [7]:
names = pd.read_csv("employees.csv")
names

    First Name  Gender  Salary Bonus % Senior Management                  Team
0      Douglas    Male   97308   6.945              TRUE             Marketing
1       Thomas    Male   61933     NaN              TRUE                   NaN
2        Maria  Female  130590  11.858             FALSE               Finance
3        Jerry    Male     NaN    9.34              TRUE               Finance
4        Larry    Male  101004   1.389              TRUE       Client Services
..         ...     ...     ...     ...               ...                   ...
995      Henry     NaN  132483  16.655             FALSE          Distribution
996    Phillip    Male   42392  19.675             FALSE               Finance
997    Russell    Male   96914   1.421             FALSE               Product
998      Larry    Male   60500  11.985             FALSE  Business Development
999     Albert    Male  129949  10.169              TRUE                 Sales

[1000 rows x 6 columns]

In [8]:
#reading a text file
na=pd.read_table("names.txt")
na

             Utilitatis causa amicitia est quaesita.
0  Lorem ipsum dolor sit amet, consectetur adipis...
1  Quamquam id quidem licebit iis existimare, qui...

In [9]:
#reading a json file
import json
import pandas as pd

In [10]:
df = pd.read_json("iris.json")
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [11]:
print("number of columns and rows are ",df.shape)

number of columns and rows are  (150, 5)

In [12]:
print("number of columns is ",df.shape[0])

number of columns is  150

In [13]:
print("number of rows is ",df.shape[1])

number of rows is  5

In [14]:
df[['petalLength','sepalLength','sepalWidth','petalWidth']].mean()

petalLength    3.758000
sepalLength    5.843333
sepalWidth     3.057333
petalWidth     1.199333
dtype: float64

In [15]:
#petal length is 50% greater than average
mean=df['petalLength'].mean()
print(mean)
fifty=mean*(50/100)
avg=fifty+mean

3.7580000000000027

In [16]:
print(df[df.petalLength>avg])

     sepalLength  sepalWidth  petalLength  petalWidth    species
100          6.3         3.3          6.0         2.5  virginica
102          7.1         3.0          5.9         2.1  virginica
104          6.5         3.0          5.8         2.2  virginica
105          7.6         3.0          6.6         2.1  virginica
107          7.3         2.9          6.3         1.8  virginica
108          6.7         2.5          5.8         1.8  virginica
109          7.2         3.6          6.1         2.5  virginica
117          7.7         3.8          6.7         2.2  virginica
118          7.7         2.6          6.9         2.3  virginica
120          6.9         3.2          5.7         2.3  virginica
122          7.7         2.8          6.7         2.0  virginica
124          6.7         3.3          5.7         2.1  virginica
125          7.2         3.2          6.0         1.8  virginica
129          7.2         3.0          5.8         1.6  virginica
130          7.4         2.8          6.1         1.9  virginica
131          7.9         3.8          6.4         2.0  virginica
135          7.7         3.0          6.1         2.3  virginica
143          6.8         3.2          5.9         2.3  virginica
144          6.7         3.3          5.7         2.5  virginica

In [17]:
print(df[df.petalLength>avg])

     sepalLength  sepalWidth  petalLength  petalWidth    species
100          6.3         3.3          6.0         2.5  virginica
102          7.1         3.0          5.9         2.1  virginica
104          6.5         3.0          5.8         2.2  virginica
105          7.6         3.0          6.6         2.1  virginica
107          7.3         2.9          6.3         1.8  virginica
108          6.7         2.5          5.8         1.8  virginica
109          7.2         3.6          6.1         2.5  virginica
117          7.7         3.8          6.7         2.2  virginica
118          7.7         2.6          6.9         2.3  virginica
120          6.9         3.2          5.7         2.3  virginica
122          7.7         2.8          6.7         2.0  virginica
124          6.7         3.3          5.7         2.1  virginica
125          7.2         3.2          6.0         1.8  virginica
129          7.2         3.0          5.8         1.6  virginica
130          7.4         2.8          6.1         1.9  virginica
131          7.9         3.8          6.4         2.0  virginica
135          7.7         3.0          6.1         2.3  virginica
143          6.8         3.2          5.9         2.3  virginica
144          6.7         3.3          5.7         2.5  virginica